#
# Python byte-compiled files
#

__pycache__/

#
# Inputs
#

.snakemake
.snakemake/**
resources/**
databases/**
data/**
test_dir/**
work_dir/**

#
# Outputs 
#

results/**
logs/**
benchmarks/**

#
# IDE files
#

**/.vscode


#
# OS files
#

**/.DS_Store
